{% extends "app/base.html" %}

{% block title %}Checkout{% endblock %}

{% load static %}
{% block scripts %}<script src="{% static 'app/checkout.js' %}" defer></script>{% endblock %}

{% block content %}
  <h2>Subscribe to nothing for $10/mo</h2>
  <form id="payment-form">
    <div id="payment-element">
      <!--Stripe.js injects the Payment Element-->
    </div>
    <button id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Subscribe</span>
    </button>
    <div id="payment-message" class="hidden"></div>
  </form>
{% endblock %}
